* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.news-article {
  width: 47%;
}

.article-img {
  height: 205px;
  width: 100%;
}

.article-title {
  padding: 10px;
}

.article-summary,
.article-title {
  background-color: #FFF;
}

.article-summary {
  height: 180px;
}

.article-url {
  background-color: #B56AF1;
  color: #FFF;
  height: 55px;
}

a {
  color: #FFF;
  font-size: 150%;
}